@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($box-shadow) {
  -moz-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

$kek: #00072e;
$vilagoskek: #6699ff;
$attetszo_feher: rgba(255, 255, 255, 0.5);
$narancssarga: #ff6666;
$feher: #fff;

:focus {
  outline: 0;
}

body {
  //background-img: url('../img/bg.png') no-repeat;
  background-size: cover;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000f69+0,00072d+100 */
  background: #000f69; /* Old browsers */
  background: -moz-linear-gradient(left, #000f69 0%, #00072d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000f69 0%,#00072d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000f69 0%,#00072d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000f69', endColorstr='#00072d',GradientType=1 ); /* IE6-9 */

  .content {
    margin-top: 10%;
    
    a {
      color: $vilagoskek;
      text-decoration: none;
      @include transition(all 0.2s ease-in-out);
      display: block;
      margin: 0 auto;
      text-align: center;
      &:hover {
        color: $feher;
      }
    }

    .left-box {
      > div {
        max-width: 370px;
        margin: 0 auto;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#014d86+0,010b41+100 */
        background: #014d86; /* Old browsers */
        background: -moz-linear-gradient(top,  #014d86 0%, #010b41 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #014d86 0%,#010b41 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #014d86 0%,#010b41 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#014d86', endColorstr='#010b41',GradientType=0 ); /* IE6-9 */
        padding: 90px 30px 46px;
        @include box-shadow(5px 5px 30px 0px rgba(3,50,86,.35));
        @include border-radius(7px);
      }

      #logo {
        height: 50px;
        width: 186px;
        margin: 0 auto 77px;
        display: block;
      }
      
      form {
        letter-spacing: 1px;
        color: $feher;

        input {
          display: block;
        }

        input[type="text"] {
          margin-bottom: 32px;
        }

        input[type="text"],
        input[type="password"]{
          width: 100%;
          border: none;
          border-bottom: 2px solid #004070;
          background: none;
          padding: 0 0 13px 0;
          @include transition(all 0.2s ease-in-out);
          &:focus {
            border-bottom: 2px solid $feher;
          }
        }
        
        input[type="submit"] {
          margin: 22px auto 61px;
          display: block;
          font-size: 20px;
          color: $feher;
          padding: 11px 77px;
          background: $vilagoskek;
          border: none;
          @include border-radius(25px);
          @include transition(all 0.2s ease-in-out);
          &:hover {
            background: $narancssarga;
          }
        }

        #forgotten-password {
          margin-top: 60px;
        }

        #registration {
          text-transform: uppercase;
        }
      }
    }

    .right-box {
      padding: 90px 110px;

      @media screen and (max-width: 767px) {
        display: none;
      }

      span {
        font-size: 14px;
        text-transform: uppercase;
        color: $attetszo_feher;
        letter-spacing: 1px;
      }
    }
  }

  > img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $vilagoskek;
  font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $vilagoskek;
  font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $vilagoskek;
  font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
  color: $vilagoskek;
  font-size: 14px;
}