:focus {
  outline: 0; }

body {
  background-size: cover;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000f69+0,00072d+100 */
  background: #000f69;
  /* Old browsers */
  background: -moz-linear-gradient(left, #000f69 0%, #00072d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000f69 0%, #00072d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000f69 0%, #00072d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000f69', endColorstr='#00072d',GradientType=1 );
  /* IE6-9 */ }
  body .content {
    margin-top: 10%; }
    body .content a {
      color: #6699ff;
      text-decoration: none;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      display: block;
      margin: 0 auto;
      text-align: center; }
      body .content a:hover {
        color: #fff; }
    body .content .left-box > div {
      max-width: 370px;
      margin: 0 auto;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#014d86+0,010b41+100 */
      background: #014d86;
      /* Old browsers */
      background: -moz-linear-gradient(top, #014d86 0%, #010b41 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #014d86 0%, #010b41 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #014d86 0%, #010b41 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#014d86', endColorstr='#010b41',GradientType=0 );
      /* IE6-9 */
      padding: 90px 30px 46px;
      -moz-box-shadow: 5px 5px 30px 0px rgba(3, 50, 86, 0.35);
      -webkit-box-shadow: 5px 5px 30px 0px rgba(3, 50, 86, 0.35);
      box-shadow: 5px 5px 30px 0px rgba(3, 50, 86, 0.35);
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      border-radius: 7px; }
    body .content .left-box #logo {
      height: 50px;
      width: 186px;
      margin: 0 auto 77px;
      display: block; }
    body .content .left-box form {
      letter-spacing: 1px;
      color: #fff; }
      body .content .left-box form input {
        display: block; }
      body .content .left-box form input[type="text"] {
        margin-bottom: 32px; }
      body .content .left-box form input[type="text"],
      body .content .left-box form input[type="password"] {
        width: 100%;
        border: none;
        border-bottom: 2px solid #004070;
        background: none;
        padding: 0 0 13px 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        body .content .left-box form input[type="text"]:focus,
        body .content .left-box form input[type="password"]:focus {
          border-bottom: 2px solid #fff; }
      body .content .left-box form input[type="submit"] {
        margin: 22px auto 61px;
        display: block;
        font-size: 20px;
        color: #fff;
        padding: 11px 77px;
        background: #6699ff;
        border: none;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        border-radius: 25px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        body .content .left-box form input[type="submit"]:hover {
          background: #ff6666; }
      body .content .left-box form #forgotten-password {
        margin-top: 60px; }
      body .content .left-box form #registration {
        text-transform: uppercase; }
    body .content .right-box {
      padding: 90px 110px; }
      @media screen and (max-width: 767px) {
        body .content .right-box {
          display: none; } }
      body .content .right-box span {
        font-size: 14px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
        letter-spacing: 1px; }
  body > img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #6699ff;
  font-size: 14px; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #6699ff;
  font-size: 14px; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #6699ff;
  font-size: 14px; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #6699ff;
  font-size: 14px; }

/*# sourceMappingURL=style.css.map */
